@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #404040;
    --color-light: #ffffff;
    --color-body: #6A6A6A;
    --color-lightgray: #EFEFEF;
    --color-primary: #6BCB96;
    --color-secondary: #95d5b2;
    --color-tertiary: #6bcb96;
}